@{
    Layout = null;
    var user = new UserInfo(Context.User);
    var language = Context.Request.Cookies["lang"] ?? "en";
    var languages = AppSettingProvider.AppSettings.LanguageSupports;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerTech</title>

    <link rel="icon" type="image/svg" href="~/images/logo.svg" class="img-fluid" />
    <link rel="stylesheet" type="text/css" href="~/public/vendor/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker-min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select-min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <link rel="stylesheet" href="~/public/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="~/public/vendor/datatables/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="/public/vendor/datatables/rowGroup.bootstrap4.css" />
</head>
<body class="body-login" id="page-top">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container d-flex justify-content-between align-items-center">

                <div class="d-flex align-items-center gap-2">
                    <a class="navbar-brand fw-bold mb-0" href="/applicants">Career Tech</a>
                    <a class="navbar-brand fw-bold mb-0" href="/applicants/jobs">@SharedLocalizer["Job"]</a>
                    <a class="navbar-brand fw-bold mb-0" href="/applicants/public-recruiters">@SharedLocalizer["Recruiter"]</a>
                </div>

                <div class="d-flex align-items-center gap-3">
                    <div class="dropdown mr-1">
                        @if (!(Context?.User?.Identity?.IsAuthenticated ?? false) || user?.Role != EUserRole.Applicant.ToString())
                        {
                            <div class="d-flex align-items-center">
                                <a class="nav-link p-0 pr-1" href="/register">
                                    <span class="text-gray-600 small">@SharedLocalizer["Register"]</span>
                                </a>
                                <span class="text-gray-600 small">/</span>
                                <a class="nav-link p-0 pl-1" href="/login">
                                    <span class="text-gray-600 small">@SharedLocalizer["Login"]</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user?.Name</span>
                                <img class="rounded-circle" src="@(string.IsNullOrEmpty(user?.Avatar) ? "/public/images/undraw_user.jpg" : user.Avatar)"
                                     alt="Avatar" width="24" height="24" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <button class="dropdown-item" onclick="window.location.href='/applicants/@user?.Id/profile'">
                                    <i class="fas fa-id-card fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @SharedLocalizer["Personal Information"]
                                </button>
                                <button class="dropdown-item" onclick="window.location.href='/applicants/@user?.Id/saved-jobs'">
                                    <i class="fas fa-bookmark fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @SharedLocalizer["Saved Job Posts"]
                                </button>
                                <button class="dropdown-item" onclick="window.location.href='/applicants/@user?.Id/applied-jobs'">
                                    <i class="fas fa-paper-plane fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @SharedLocalizer["Applied Job Posts"]
                                </button>
                                <button class="dropdown-item" data-userid="@user?.Id" onclick="showModalChangePassword(this)" data-toggle="modal" data-target="#changePasswordUserModal">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @SharedLocalizer["Change Password"]
                                </button>
                                <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @SharedLocalizer["Logout"]
                                </button>
                            </div>
                        }
                    </div>
                    <div>
                        <select class="selectpicker form-control" onchange="changeLanguage(this)">
                            @{
                                foreach (var item in languages)
                                {
                                    if (language == item.Code)
                                    {
                                        <option value="@item.Code" selected
                                                data-content="@Html.Raw($"<span><img src='{item.Image}' style='width:20px; margin-right:5px;' /></span>")">
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Code"
                                                data-content="@Html.Raw($"<span><img src='{item.Image}' style='width:20px; margin-right:5px;' /></span>")">
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>


            </div>
        </nav>
    </header>
    <div class="container-fluid mt-5 pt-5">
        @RenderBody()
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="mt-5">
        @await Html.PartialAsync(ViewMapping.ViewChangePassword)
    </div>
    <div class="mt-5">
        @await Html.PartialAsync(ViewMapping.ViewLogout)
    </div>

    <footer class="border-top footer text-muted text-center bg-white">
        <div class="container">
            &copy; @DateTime.Now.Year.ToString() - Career Tech
        </div>
    </footer>

    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <script src="~/public/vendor/jquery/jquery.min.js"></script>
    <script src="~/public/vendor/datatables/dataTables.js"></script>
    <script src="~/public/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/public/vendor/datatables/rowGroup.bootstrap4.js"></script>
    <script src="~/public/vendor/datatables/dataTables.rowGroup.js"></script>
    <script src="~/public/vendor/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/public/vendor/datatables/fixedColumns.dataTables.js"></script>
    <script src="~/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/public/js/sb-admin-2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="~/js/bootstrap-datepicker-min.js"></script>
    <script src="~/js/bootstrap-select-min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/function.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

